@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@600&display=swap');

:root {
    --text-color: #171717;
    --alt-text-color: #e7e7e7;
    --body-color: #ffe762;
    --link-color: #c60dff;
    --normal-width: 50rem;
    --max-width: 85vw;
    --border-radius: 0.5rem;
    --border-thickness: 2px;
}

* {
    margin: 0;
    padding: 0;
    font-family: ABeeZee, sans-serif;
    box-sizing: border-box;
}

/* FONTS */

h2 {
    font-size: 2.2rem;
    font-family: 'Signika', sans-serif;
    margin: 1em 0;
}

h3 {
    font-size: 1.8rem;
    font-family: 'Signika', sans-serif;
    margin: 0.5em 0;
}

p {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin: 1em 0;
}

header p {
    color: var(--alt-text-color);
    font-size: 2.7rem;
    line-height: 1.2em;
    margin: 1em 0;
}

header b {
    color: var(--body-color);
}

.code {
    font-family: monospace;
    background-color: var(--text-color);
    color: var(--body-color);
    padding: 0.5rem;
    font-size: 1rem;
}

/* STRUCTURE */

body {
    color: var(--text-color);
    background-color: var(--body-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 90svh;
    padding: 0 5%;
    color: var(--body-color);
    background-color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    width: var(--normal-width);
    max-width: var(--max-width);
    margin-bottom: 7rem;
}

footer {
    margin-top: auto;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* SHOWCASE CLASSES */

.items-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.item {
    display: inline-block;
    border: var(--border-thickness) solid var(--text-color);
    border-radius: var(--border-radius);
    padding: 0 1rem;
    position: relative;
    overflow: hidden;
}

.item:nth-child(odd) > .banner-wrapper > .banner-scroll {
    animation: 100s slide-left linear infinite;
} .item:nth-child(even) > .banner-wrapper > .banner-scroll {
    animation: 100s slide-right linear infinite;
}

.banner-wrapper {
    width: calc(100% + 2rem);
    height: 10rem;
    top: 0;
    left: -1rem;
    position: relative;
    white-space: nowrap;
    word-spacing: -0.3rem;
}

.banner-scroll {
    height: inherit;
    display: inline-block;
}

.banner-scroll > img {
    height: inherit;
    object-fit: cover;
}

.banner-gradient {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(transparent, var(--body-color));
}

@keyframes slide-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

@keyframes slide-right {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}

/* CARD ELEMENT */

.card-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: min(
        calc(var(--normal-width) * 0.25),
        calc(var(--max-width) * 0.5)
    );
    width: calc(var(--normal-width) * 0.5);
    max-width: var(--max-width);
    aspect-ratio: 1 / 0.6;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card1 {
    width: calc(var(--normal-width) * 0.5);
    max-width: var(--max-width);
    aspect-ratio: 1 / 0.6;
    border: var(--border-thickness) solid var(--text-color);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    position: absolute;
    top: 0;
}

.card2 {
    width: calc(var(--normal-width) * 0.36);
    max-width: calc(var(--max-width) * 0.72);
    aspect-ratio: 1 / 1;
    border: var(--border-thickness) solid var(--text-color);
    border-radius: var(--border-radius);
    transform: rotate(45deg);
    position: absolute;
    top: max(
        calc(var(--normal-width) * -0.18),
        calc(var(--max-width) * -0.36)
    );
}

#send-mail {
    font-size: 2rem;
    height: 4rem;
    position: absolute;
    top: -2rem;
    display: flex;
    align-items: center;
}

/* LINKS */

a:hover {
    color: var(--link-color);
}

.link-button {
    z-index: 10;
    height: fit-content;
    background-color: var(--body-color);
    color: var(--text-color);
    text-decoration: none;
    border: var(--border-thickness) solid var(--text-color);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    box-shadow: 0 0.25rem var(--text-color);
    line-height: 4rem;
}

.link-button:hover {
    color: var(--link-color);
    border: var(--border-thickness) solid var(--link-color);
    box-shadow: 0 0.25rem var(--link-color);
}
