* {
	margin: 0;
	padding: 0;
	--nice-yellow: #ffe762;
	--transparent: rgba(0, 0, 0, 0);

	--border-pixel: 3px;
	--content-width: min(45rem, 95%);
	--game-3d-color: rgba(0, 0, 0, 0.5);
	--perspective-distance: 800px;

	--hover-in-transition-speed: 400ms;
	--hover-out-transition-speed: 300ms;
}

body {
	background-color: var(--nice-yellow);
	color: black;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	overflow-x: hidden;
}

p {
	font-size: 1.1rem;
	margin-bottom: 0.75rem;
}

p:last-child {
	margin-bottom: 0;
}

header {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#links {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	height: 4rem;
	list-style: none;
}

#links li {
	height: inherit;
}

#links img {
	display: block;
	height: 100%;
	transform: scale(0.8);
	transition: var(--hover-out-transition-speed);
}

#links li:hover img {
	transform: none;
	transition: var(--hover-in-transition-speed);
}

main {
	background-color: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1rem auto;
	min-height: calc(100vh - 2rem);
	width: var(--content-width);
}

section h1 {
	border-bottom: 0.2rem dotted currentColor;
	margin: 1rem auto;
	width: fit-content;
}

section {
	position: relative;
}

.game-shelf {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
}

.game-shelf h2 {
	color: transparent;
	position: absolute;
}

.game-cover {
	height: 100%;
	width: 100%;
	background: linear-gradient(45deg, cyan, yellow);
}

.game {
	align-items: center;
	border-radius: var(--border-pixel);
	box-shadow: 0 0.25rem 0.5rem var(--game-3d-color);
	display: flex;
	justify-content: center;
	overflow: hidden;
	position: relative;
	transform: perspective(var(--perspective-distance)) rotate3d(1, 0, 0, 10deg) scale(0.9);
	transition: var(--hover-out-transition-speed);
}

.game:hover {
	box-shadow: 0 0 0.5rem var(--game-3d-color);
	transform: none;
	transition: var(--hover-in-transition-speed);
}

.game::after {
	background: linear-gradient(var(--transparent) 35%, white, var(--transparent) 75%);
	color: var(--transparent);
	content: "-";
	height: 100%;
	opacity: 0.4;
	position: absolute;
	top: -25%;
	transition: top var(--hover-out-transition-speed);
	width: 100%;
}

.game:hover::after {
	top: -50%;
	transform: top var(--hover-in-transition-speed);
}

#decoration {
	background-image: url("assets/website/pattern-bg.png");
	background-repeat: repeat-y;
	background-size: contain;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 10vw;
	z-index: -7;
}

@media only screen and (max-width: 50rem) {
	#decoration {
		display: none;
	}
}

@media only screen and (max-width: 32rem) {
	header,
	header div {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		text-align: center;
	}
}

@media (prefers-reduced-motion: reduce) {
	* {
		--hover-in-transition-speed: 0;
		--hover-out-transition-speed: 0;
	}

	.game {
		transform: none;
	}
}
