:root {
    --text-color: #171717;
    --alt-text-color: #e7e7e7;
    --body-color: #ffe762;
    --link-color: rgb(0, 60, 255);
    --normal-width: 50rem;
    --max-width: 85vw;
    --border-radius: 0.5rem;
    --border-thickness: 2px;
    --side-padding: 5%;
    --emphasis-color-1: rgb(10, 111, 10);
    --emphasis-color-2: rgb(20, 162, 20);
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

*:focus {
    outline: 0.5rem solid var(--link-color);
    transition: outline 0;
    animation-name: outline;
    animation-duration: 200ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes outline {
    from {
        outline-offset: 0.25rem;
    }
    to {
        outline-offset: 0.5rem;
    }
}

/* #region FONTS */

h2 {
    font-size: 2.2rem;
    margin: 1em 0;
}

h2::after {
    content: '';
    width: 100px;
    height: 100px;
    background-color: blue;
}

h3 {
    font-size: 1.8rem;
    margin: 0.5em 0;
}

p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin: 1em 0;
}


.code {
    font-family: monospace;
    background-color: var(--text-color);
    color: var(--body-color);
    padding: 0.5rem;
    font-size: 1rem;
}

.big {
    font-weight: bolder;
    font-size: 2.2em;
    line-height: 1em;
}

.jam {
    color: var(--body-color);
    font-size: 0.8em;
}

.marker {
    background: linear-gradient(25deg, var(--emphasis-color-1), var(--emphasis-color-2));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* #endregion */

/* #region STRUCTURE */

body {
    color: var(--text-color);
    background-color: var(--body-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100%;
    padding: 0 var(--side-padding);
}

footer {
    margin-top: auto;
    padding: 0 var(--side-padding);
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

hr {
    border: calc(var(--border-thickness) * 0.5) solid var(--text-color);
}

/* #endregion */

/* #region HEADER */

header {
    width: 100%;
    padding: 0 var(--side-padding);
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .greeting {
    font-size: 3rem;
    line-height: 1em;
}

header .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: auto;
}

header > .shortcuts a {
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--body-color);
    background-color: var(--text-color);
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    margin-left: 1rem;
}

header > .shortcuts a:hover,
header > .shortcuts a:focus {
    color: var(--text-color);
    background-color: var(--body-color);
    box-shadow: var(--text-color) inset 0 0 0 var(--border-thickness);
}

header .icon-link {
    margin-right: auto;
    justify-self: flex-start;
    margin-left: 1rem;
    display: flex;
    border-radius: var(--border-radius);
}

header .icon-link img {
    height: 3rem;
    margin: auto;
    transition: 400ms;
    transition-property: translate, scale;
}

header .icon-link:hover img,
header .icon-link:focus img {
    translate: 0 -1rem;
    scale: 1.2;
}

/* #endregion */

/* #region GAMES GRID */

#games {
    position: relative;
}

.games-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 2rem 0;
}

.game-cell {
    border: var(--border-thickness) solid var(--text-color);
    border-radius: var(--border-radius);
    aspect-ratio: 63/50;

    background-size: 100%;
    background-repeat: no-repeat;
    transition: 500ms;
    transition-property: background-size;
}

.game-cell:hover,
.game-cell:focus {
    background-size: 80%, 120%;
}

.game-cell > .content {
    color: var(--alt-text-color);
    text-shadow: black 0 2px 10px;
    backdrop-filter: brightness(20%) contrast(80%);
    -webkit-backdrop-filter: brightness(20%) contrast(80%);
    border-radius: var(--border-radius) var(--border-radius) var(--border-radius) var(--border-radius);

    pointer-events: none;
    padding: 1rem;
    z-index: 6;

    margin: 0 var(--side-padding);
    height: fit-content;
    position: absolute;
    top: 1rem;
    left: 0;

    opacity: 0;
    transition: 400ms;
    transition-property: top, opacity;
}

.game-cell:hover > .content,
.game-cell:focus > .content {
    top: 0;
    opacity: 1;
}
.game-cell .content p {
    margin: 0;
    font-size: 1.6rem;
    line-height: 1.2em;
}

.game-cell .content h2 {
    margin: 0.5rem 0 1rem 0;
}

#totem-breakout {
    background-image: url(images/totem_title.png), url(images/totem_bg.png);
    background-position: center, 50% 80%;
}

#gear-loop {
    background-image: url(images/gear_title.png), url(images/gear_bg.png);
    background-position: center, 100% 25%;
}

#le-fish {
    background-image: url(images/fish_title.png), url(images/fish_bg.png);
    background-position: 75% 20%, 20% 20%;
}

#sub-zero {
    background-image: url(images/sub_zero_title.png), url(images/sub_zero_bg.png);
    background-position: 25% 20%, center;
}

/* #endregion */

/* #region PROJECTS */

.project {
    border: var(--border-thickness) solid var(--text-color);
    border-radius: var(--border-radius);
    padding: 1rem;
    margin: 2rem 0;
}

/* #endregion */

/* #region LINKS */

a:hover {
    color: var(--link-color);
}

.link-button {
    z-index: 2;
    height: fit-content;
    background-color: var(--body-color);
    color: var(--text-color);
    text-decoration: none;
    border: var(--border-thickness) solid var(--text-color);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    box-shadow: 0 0.25rem var(--text-color);
    line-height: 4rem;
}

.link-button:hover,
.link-button:focus {
    color: var(--link-color);
    border: var(--border-thickness) solid var(--link-color);
    box-shadow: 0 0.25rem var(--link-color);
}

/* #endregion */

@media screen and (min-width: 155rem)
{
    .games-grid {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media screen and (max-width: 70rem)
{
    header {
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    header * {
        margin: 0.5rem 0.3rem !important;
        text-align: center;
    }

    header > .shortcuts a {
        font-size: 1.2rem;
        margin: 0.2rem !important;
        line-height: 3rem;
    }

    .games-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 45rem)
{
    .games-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
