/* * {
	margin: 0;
	padding: 0;
	--border: 5px;
	--text-color: black;
	--aside-bg-color: #ffc21c;
	--aside-link-color: orange;
	--main-link-color: green;
	--bg-color: #e7e7e7;
	--nest-bg-color: lightgray;
}

@media (prefers-color-scheme: dark) {
	* {
		--text-color: white;
		--aside-bg-color: #B58B00;
		--aside-link-color: #DBA800;
		--main-link-color: var(--aside-link-color);
		--bg-color: #171717;
		--nest-bg-color: #202020;
	}
} */

* {
	margin: 0;
	padding: 0;
	--text-color: white;
	--aside-bg-color: #B58B00;
	--aside-link-color: #DBA800;
	--nice-yellow: #ffe762;
	--main-link-color: var(--aside-link-color);
	--bg-color: #171717;
	--nest-bg-color: #202020;

	--transparent: rgba(0, 0, 0, 0);
	--hover-in-transition-speed: 400ms;
	--hover-out-transition-speed: 300ms;

	--border-pixel: 3px;
	--content-width: min(45rem, 95%);
	--game-3d-color: rgba(0, 0, 0, 0.5);
	--perspective-distance: 800px;
}

body {
	background-color: white;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	overflow-x: hidden;
}

header {
	position: relative;
	/* background-color: var(--nice-yellow); */
	/* background-image: url("assets/pattern-bg.png");
	background-position: 50%;
	background-size: auto 50%;
	background-repeat: repeat-x; */
	padding: 1rem 0;
}

p {
	font-size: 1.1rem;
	margin-bottom: 0.75rem;
}

p:last-child {
	margin-bottom: 0;
}

main {
	margin: 1rem auto;
	width: var(--content-width);
}

section h1 {
	border-bottom: 0.2rem dotted currentColor;
	margin: 1rem auto;
	width: fit-content;
}

section {
	position: relative;
}

.game-shelf {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.game-shelf h2 {
	color: transparent;
	position: absolute;
}

.game-cover {
	height: 100%;
	width: 100%;
}

.game {
	align-items: center;
	border-radius: var(--border-pixel);
	box-shadow: 0 0.25rem 0.5rem var(--game-3d-color);
	display: flex;
	justify-content: center;
	overflow: hidden;
	position: relative;
	transform: perspective(var(--perspective-distance)) rotate3d(1, 0, 0, 10deg) scale(0.9);
	transition: var(--hover-out-transition-speed);
}

.game:hover {
	box-shadow: 0 0 0.5rem var(--game-3d-color);
	transform: none;
	transition: var(--hover-in-transition-speed);
}

.game::after {
	background: linear-gradient(var(--transparent) 35%, white, var(--transparent) 75%);
	content: "-";
	height: 100%;
	opacity: 0.4;
	position: absolute;
	top: -25%;
	transition: top var(--hover-out-transition-speed);
	width: 100%;
}

.game:hover::after {
	top: -50%;
	transform: top var(--hover-in-transition-speed);
}